<div
  class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 bg-red-700"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="assets/logo.webp" alt="Workflow" />
    <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
      Create a new account
    </h2>
    <p class="mt-2 text-center text-sm text-white">
      Or
      <a
        routerLink="/login"
        class="font-medium text-white hover:text-white underline"
      >
        login in if you already have an account
      </a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="registerForm">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">
            Name
          </label>
          <div class="mt-1">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email address
          </label>
          <div class="mt-1">
            <input
              id="email"
              name="email"
              type="email"
              formControlName="email"
              autocomplete="email"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            Password
          </label>
          <div class="mt-1">
            <input
              id="password"
              name="password"
              formControlName="password"
              type="password"
              autocomplete="current-password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
            />
          </div>

          <!-- Display errors for password -->
          <p
            class="text-red-700"
            *ngIf="registerForm.controls['password'].errors?.['required']"
          >
            Password is required.
          </p>
          <p
            class="text-red-700"
            *ngIf="registerForm.controls['password'].errors?.['minlength']"
          >
            Password must be at least 8 characters long.
          </p>
        </div>
        <!-- <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            Reenter Password
          </label>
          <div class="mt-1">
            <input
              id="password"
              name="password"
              formArrayName="confirmPassword"
              type="password"
              autocomplete="current-password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"
            />
          </div>

          <div
            *ngIf="registerForm.errors?.['mismatch'] && registerForm.controls['confirmPassword'].touched"
          >
            Passwords do not match.
          </div>
        </div> -->

        <div>
          <button
            (click)="register()"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
